{% extends "layout.twig" %}
{% block content %}
    <h1>
        Inscription
    </h1>
    <form method="post" class="form">
        <div class="form-group">
            <label>Login</label>
        </div>
    </form>
{% endblock %}